@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;


  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F5F6F0;
  /* background-color: #eeeeeb; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

